// Font Family
$font-family-default:  			"Avenir", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-header:  			"Didot", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
$font-family-mono: 				"Inconsolata", monospace;
$font-family-serif:				"Didot", "Times", "Times New Roman", serif;

$icons: 						"FontAwesome";
