@import "showcase";
@import "features";
@import "text";
@import "first_panel";
@import "second_panel";
@import "third_panel";
@import "fourth_panel";
@import "fifth_panel";
@import "sixth_panel";

.modular {
    .modular-row:last-child {
    	margin-bottom: 2rem;
    }
}

#body
{
	padding-top: 0;

	*
	{
		letter-spacing: initial !important;
	}
}