.about
{
	display: flex;
	flex-flow: row nowrap;
    position: relative;
	top: -2rem;

	.side-box
	{
		flex-grow: 1;
		width: 150px;
		background: $orange;
	}

	h1
	{
		text-align: left;
	}

	h4
	{
		text-align: center;

		+ p
		{
			text-align: center;
		}

		@include respond-to('small')
		{
			font-size: 1rem;
		}
	}

	.modular-row
	{
		padding: 6rem;
		flex-grow: 4;

		@include respond-to('small')
		{
			padding: 2rem;
		}
	}

	ul
	{
		padding-left: 20px;
	}

	li
	{
		margin-bottom: 1.5rem;
	}
}