.cover
{
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;

	h1
	{
		font-size: 70pt;
		letter-spacing: initial;
		margin-left: 7rem;
	}

	h3
	{
		display: inline-block;

		&:first-of-type
		{
			margin-left: 2rem;
			margin-right: 1.5rem;
		}
	}

	.modular-row
	{
		position: absolute;
		top: 50px;
		background: transparent;
		left: 50%;
	}

	.section-content
	{
		position: relative;
		left: -50%;
		width: 750px;
	}

	.header-boxes
	{
		flex-grow: 1;
		flex-shrink: 1;
		height: 100vh;
		width: 100%;
		display: flex;
		flex-flow: row nowrap;
	}

	.header-box:first-of-type
	{
		background-color: red;
		flex-grow: 1;
	}

	.header-box:last-of-type
	{
		background-color: $white;
		flex-grow: 1;
	}
}