.details
{
	@include respond-to('small')
	{
		h2
		{
			font-size: 1.5rem;
		}
	}
	display: flex;
	flex-flow: row nowrap;

	.side-box
	{
		background: $orange;
		width: 300px;
		flex: 1 0 0%;
	}

	.modular-row
	{
		flex: 4 0 0%;
		padding: 6rem 10rem;

		@include respond-to('small')
		{
			padding: 1rem;
		}
	}

	.second-panel-columns
	{
		display: flex;
		flex-flow: row nowrap;

		@include respond-to('small')
		{
			flex-flow: column;
		}
	}

	.second-panel-column
	{
		width: 50%;
		padding: 2rem;

		@include respond-to('small')
		{
			width: 100%;
		}
	}

	h4
	{
		text-align: left;

		@include respond-to('small')
		{
			font-size: 1rem;
		}
	}

	ul
	{
		padding-left: 20px;
	}
}