.services
{
	color: $white !important;

	.modular-row
	{
		background-color: $gray !important;
	}

	h1
	{
		text-align: right;
	}

	.callout
	{
		padding: 0;
		padding-top: 6rem;
		padding-right: 6rem;
	}

	h2:first-of-type
	{
		text-align: right;
		padding: 2rem 0;
	}

	ul
	{
		padding-bottom: 6rem;
	}

	h2, ul
	{
		padding-left: 6rem;
	}
}

.services-buttons
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;

	.services-button
	{
		flex-grow: 1;
		text-align: center;
		padding: 1.5rem;
		cursor: pointer;

		&:hover
		{
			h4
			{
				border-bottom: 2px solid $orange;
			}
		}

		h4
		{
			display: inline-block;
			margin: 1.5rem 0;
			text-transform: uppercase;
		}

		&.active
		{
			background-color: $white;
			color: $gray;

			h4
			{
				border-bottom: 2px solid $orange;
			}
		}

	}

}

.services-callouts
{
	background-color: $white;
	width: 100vw;
	color: $gray;

	h4
	{
		text-align: center !important;
	}
}

.services-callout-panel
{
	display: none;
	text-align: center;

	h2
	{
		font-size: 2rem;
		padding: 6rem;
		padding-bottom: 3rem;
		margin: 0 !important;
		text-align: center !important;
	}

	&.active
	{
		display: block;
	}
}

.leadership
{
	.grav-lightslider
	{
		display: none;
	}	
}

.grav-lightslider
{
	position: relative;
	top: -100px;

	*
	{
		color: $gray !important;
		font-family: $font-family-default !important;
	}

	li.active a
	{
		background-color: $orange !important;
	}

	li a:hover
	{
		background-color: $orange !important;
	}

	h1 strong
	{
		color: $orange !important;
	}
}

