.services
{
	color: $white !important;

	.modular-row
	{
		background-color: $gray !important;
		position: relative;
		padding: 10rem;
	}

	h1
	{
		text-align: right;
		padding-right: 10rem;

		@include respond-to('small')
		{
			padding-right: 2rem;
			margin-bottom: 0;
		}
	}

	.callout
	{
		padding: 0;
		padding-top: 6rem;

		@include respond-to('small')
		{
			padding-top: 2rem;
		}
	}

	h2:first-of-type
	{
		text-align: right;
		padding: 4rem 10rem 1rem 10rem;

		@include respond-to('small')
		{
			padding: 1rem 2rem;
			padding-top: 2rem;
			margin: 0;
		}
	}

	ul
	{
		padding: 2rem 10rem 4rem 10rem;

		@include respond-to('small')
		{
			padding: 2rem !important;
			margin: 0;
			margin-bottom: 2rem;
			margin-left: 1rem;
			text-align: left;
		}
	}

}

.services-buttons
{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;

	.services-button
	{
		flex-grow: 1;
		text-align: center;
		padding: 1.5rem;
		cursor: pointer;

		@include respond-to('small')
		{
			padding: 0;
		}

		&:hover
		{
			h4
			{
				border-bottom: 2px solid $orange;
			}
		}

		h4
		{
			display: inline-block;
			margin: 1.5rem 0;
			text-transform: uppercase;

			@include respond-to('small')
			{
				font-size: 9pt;
			}
		}

		&.active
		{
			background-color: $white;
			color: $gray;

			h4
			{
				border-bottom: 2px solid $orange;
			}
		}

	}

}

.services-callouts
{
	background-color: $white;
	width: 100vw;
	color: $gray;

	h4
	{
		text-align: center !important;
	}

	&:after
	{
		display: block;
		content: '';
		height: 300px;
		width: 300px;
		background: url('../images/glasses.svg') no-repeat center center;
		position: absolute;
		transform: rotate(50deg);
		bottom: -170px;
		right: 90px;
		opacity: 0.5;
		background-size: 100%;
	}
}

.services-callout-panel
{
	display: none;
	text-align: center;

	h2
	{
		font-size: 2rem;
		margin: 0 auto !important;
		text-align: center !important;
		width: 1000px;

		@include respond-to('small')
		{
			font-size: 1.5rem;
			width: 100vw;
		}
	}

	&.active
	{
		display: block;
	}
}

.grav-lightslider
{
	position: relative;
	top: 0;
	padding-bottom: 100px;

	@include respond-to('small')
	{
		padding-bottom: 2rem;
	}

	*
	{
		color: $gray !important;
		font-family: $font-family-default !important;
	}

	li.active a
	{
		background-color: $orange !important;
	}

	li a:hover
	{
		background-color: $orange !important;
	}

	h1
	{
		font-weight: 300;

		@include respond-to('small')
		{
			font-size: 1.5rem !important;
		}
	}

	h1 strong
	{
		color: $orange !important;
		font-weight: 700;
	}
}

.lSAction > .lSNext
{
	background-position: -35px 0 !important;
	right: 10% !important;
}

.lSAction > .lSPrev
{
	background-position: 0px 2px !important;
	left: 10% !important;
}

.lSAction > a
{
	opacity: 1 !important;

	@include respond-to('small')
	{
		background-image: initial !important;
	}
}
