// Dropdowns
$dropdown-width:				140px !default;
$flyout-width:					140px !default;

.modular.header-image #header #navbar a
{
	color: $black !important;

	&:hover
	{
		border-bottom: none !important;
	}
}